*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* 3d */
  persceptive: 350px;
}