a {
    margin: 3px;
    padding: 3px;
    background-color: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 27px;
}

* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 25px;
}

a:hover {
    color: black;


}

#gallery {
    display: grid;
    gap: 15px;
    grid-column-end: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#gallery img {
    width: 100%;
}